name: Release Deployment

on:
  push:
    tags:
      - 'v*'

concurrency:
  group: deploy-release
  cancel-in-progress: false

jobs:
  build-and-test:
    name: Build & Test Project
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6

      - name: Set Up Build Environment
        uses: ./.github/actions/setup-env

      - name: Run Build & Tests
        run: ./gradlew clean check --no-daemon

      - name: Upload Coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: build/reports/jacoco/test/jacocoTestReport.xml

  determine-release-type:
    name: Determine Release Type
    runs-on: ubuntu-latest
    permissions:
      contents: read

    outputs:
      is-pre-release: ${{ steps.determine.outputs.is-pre-release }}
      tag-name: ${{ github.ref_name }}

    steps:
      - name: Determine Release Type
        id: determine
        run: |
          TAG=${GITHUB_REF#refs/tags/}
            if [[ "$TAG" == *"-"* ]]; then
                echo "This is a pre-release version."
                echo "is-pre-release=true" >> $GITHUB_OUTPUT
            else
                echo "This is a stable release version."
                echo "is-pre-release=false" >> $GITHUB_OUTPUT
            fi

  package-jar:
    name: Package JAR Artifact
    runs-on: ubuntu-latest
    needs: build-and-test
    permissions:
      contents: read

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Set Up Build Environment
        uses: ./.github/actions/setup-env

      - name: Build JAR artifact
        run: ./gradlew runnableJar -x test --no-daemon

      - name: Upload JAR Artifact
        uses: actions/upload-artifact@v6
        with:
          name: jar-artifact
          path: build/libs/*.jar

  package-linux:
    name: Package Linux Installers
    runs-on: ubuntu-latest
    needs: build-and-test
    permissions:
      contents: read

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Set Up Build Environment
        uses: ./.github/actions/setup-env

      - name: Build Linux installers
        run: ./gradlew packageLinux -x test --no-daemon

      - name: Upload Linux Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: linux-installers
          path: |
            build/packager/*.deb
            build/packager/*.rpm

  package-windows:
    name: Package Windows Installer
    runs-on: windows-latest
    needs: build-and-test
    permissions:
      contents: read

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Set Up Build Environment
        uses: ./.github/actions/setup-env

      - name: Install Inno Setup
        run: choco install -y innosetup

      - name: Build Windows installer
        run: ./gradlew packageWindows -x test --no-daemon

      - name: Upload Windows Artifact
        uses: actions/upload-artifact@v6
        with:
          name: windows-installer
          path: build/packager/*.exe

  release:
    name: Publish Release Artifacts
    runs-on: ubuntu-latest
    needs: [ determine-release-type, package-jar, package-linux, package-windows ]
    permissions:
      contents: write

    steps:
      - name: Download JAR Artifact
        uses: actions/download-artifact@v7
        with:
          name: jar-artifact
          path: dist/jar

      - name: Download Linux Artifacts
        uses: actions/download-artifact@v7
        with:
          name: linux-installers
          path: dist/linux

      - name: Download Windows Artifact
        uses: actions/download-artifact@v7
        with:
          name: windows-installer
          path: dist/windows

      - name: Verify Release Artifacts
        run: ls -R dist

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.determine-release-type.outputs.tag-name }}
          name: ${{ needs.determine-release-type.outputs.tag-name }}
          draft: false
          prerelease: ${{ needs.determine-release-type.outputs.is-pre-release }}
          body: |
            **${{ needs.determine-release-type.outputs.tagname }}**
          files: |
            dist/jar/**
            dist/linux/**
            dist/windows/**
