name: Deploy Documentation to GitHub Pages

on:
  release:
    types: [ published ]
    paths:
      - 'src/main/docs/**'
      - '.github/workflows/docs.yml'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: deploy-docs
  cancel-in-progress: false

jobs:
  build-docs:
    name: Build Documentation Site
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set Up Bun Environment
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Configure GitHub Pages
        uses: actions/configure-pages@v5

      - name: Install Documentation Dependencies
        run: bun install
        working-directory: ./src/main/docs

      - name: Build VitePress Documentation
        run: |
          bun run docs:build
          touch .vitepress/dist/.nojekyll
        working-directory: ./src/main/docs

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./src/main/docs/.vitepress/dist

  deploy-docs:
    name: Deploy to GitHub Pages
    needs: build-docs
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Artifacts to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
