name: Validate Pull Request

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  changes:
    name: Analyze Changes
    runs-on: ubuntu-latest

    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      docs: ${{ steps.filter.outputs.docs }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Analyze Changed Files
        uses: dorny/paths-filter@v3.0.2
        id: filter
        with:
          filters: |
            backend:
              - 'src/main/java/**'
              - 'src/test/java/**'
              - 'build.gradle'
              - 'settings.gradle'
              - '.github/**'
            docs:
              - 'src/main/docs/**'
              - '.github/**'

  validate-backend:
    name: Build & Test Backend
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6

      - name: Set Up Build Environment
        uses: ./.github/actions/setup-env

      - name: Run Build & Tests
        run: ./gradlew clean check build --no-daemon

  validate-docs:
    name: Build Documentation
    runs-on: ubuntu-latest
    needs: changes
    if: ${{ needs.changes.outputs.docs == 'true' }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set Up Bun Environment
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install Documentation Dependencies
        run: bun install
        working-directory: ./src/main/docs

      - name: Build Documentation
        run: bun run docs:build
        working-directory: ./src/main/docs
